@charset "utf-8";

/* base font */
.wrapper-large {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

@media (max-width: 959px) {
	.wrapper-large {
		max-width: 460px;
	}
}

.name,
.block .block__title {
	font-family: YakuHanMPs, "Hiragino Mincho ProN", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
	letter-spacing: 0.1em;
	font-weight: bold;
}

.block .block__title {
	font-size: 3rem;
}

p,
ul > li,
ol > li,
table {
	font-size: 1.3rem;
}

/* common */
.block .block__title {
	padding-bottom: 0.4rem;
}

.block .block__abstract {
	padding-left: 0.5rem;
	font-size: 1.5rem;
}

p {
	padding: 0;
	margin-bottom: 0.8rem;
}

hr {
	margin-left: auto;
	margin-right: auto;
	width: 5rem;
}

.hide {
	display: none;
}

[data-balloon] {
	border-bottom: dashed 1px gray;
}

[data-balloon] {
	border-bottom: dashed 1px gray;
}

/* updated-at */
.updated-at {
	text-align: right;
	font-size: 1rem;
	color: gray;
}

.updated-at:after {
	content: " 更新";
}

/* name */
.name {
	font-size: 3.5rem;
}

.name .name__furigana {
	font-size: 1.3rem;
}

/* skills */
.skills .skills__category {
	font-size: small;
	font-weight: bold;
}

.skills .skills__category:after {
	content: ":"
}

.skills .skills__listing {
	font-size: medium;
	font-weight: normal;
}

.skills .skills__listing__item:after {
	content: ", "
}

.skills .skills__listing__item:last-child:after {
	content: ""
}

.skills .skills__listing__item--hot {
	font-weight: bold;
}

.skills .skills__listing__item--hot:before {
	content: "💖";
	font-size: small;
}

/* link */
.link {
	text-align: center;
}

.link .link__listing {
	margin: 0;
	padding: 0;
}

.link .link__listing li {
	display: inline;
	list-style-type: none;
	font-size: 2rem;
}

.link .link__listing li+li {
	margin-left: 1rem;
}

.link .link__listing li a {
	color: #3c3c3d;
}

.link .link__listing li .fa-envelope {
	font-size: 1.8rem;
}

.link [data-balloon] {
	border-bottom: none;
}

/* secret */
.secret {
	position: fixed;
	right: 0.6rem;
	bottom: 0.2rem;
}

.secret a {
	color: lightgray;
}

.secret a:hover {
	color: #3c3c3d;
}
