@import url(https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
}

h1, h2 {
  font-family: 'Josefin Sans', 'Noto Sans JP',serif;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link a::after {
  content: " >"
}

header > .inner,
footer > .inner,
main > * > .inner {
  margin: auto;
  max-width: 1270px;
  padding: 0 8px;
}

header {
  margin: 6rem 0 4rem;
}

header h1,
header h2 {
  margin: 0;
}

header h1 {
  display: inline;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 0.1em;
  font-size: 2rem;
}

header img.avatar {
  border-radius: 22px;
  border: 1px solid lightgray;
  height: 44px;
  margin-left: 0.8em;
  vertical-align: top;
  width: 44px;
}

header h2 {
  font-weight: normal;
}

header ul {
  padding: 0;
}

header li {
  display: inline-block;
  list-style: none;
}

header li+li {
  margin-left: 1em;
}

header a {
  color: inherit;
}

section h1,
section h2 {
  font-weight: normal;
}

footer {
  font-size: 0;
  margin: 4rem 0 0.4rem;
  padding: 10px 0;
}

footer img {
  border-radius: 4px;
  display: inline-block;
  height: 24px;
  width: 24px;
}

footer a+a {
  margin-left: 8px;
}